([
  // exter fn println(Int32): ()
  ExternFn(
    name: "println",
    ty: LumoFnType(
      parameter_types: [TypeVar("Int32")],
      return_type: Product(Index([]))
    ),
  ),
  DefineEnum(
    name: "Nat",
    variants: [
      ("succ", Index([TypeVar("\0Nat")])),
      ("zero", Index([])),
    ]
  ),
  // println(1)
  Expr(Call(
    Name("println"),
    [LitInteger("1")],
  )),
])
